.analyserConfig {
    border: 1px solid gray;
    border-radius: 8px;
    width: fit-content;
    padding: 10px;
}


.analyserList {
    list-style-type: none;
    padding: 0;
}

.analyserList li {
    padding: 5px 5px 5px 5px;
    margin: 10px 0 10px 0;
    border: 1px solid gray;
    border-radius: 5px;
}

.analyserList li label {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    cursor: pointer;
}