
.analyserSelection {
    font-size: small;
    min-width: 300px;
    height: 270px;
}

.analyserSelection.setup {
    padding-top: 20px;
    width: 100%;   
}

.analyserCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 100px;
    overflow-y: auto;
    scrollbar-color: rgb(93, 92, 92) transparent;
    scrollbar-width: thin;
    
}


.analyserCards.setup {
    height: 140px;
    margin-top: 10px;
}


.analyserCards button.selectedCard  {
    border: 3px outset rgb(58, 151, 58);
}

.analyserCards button {
    width: 140px;
    height: 35px;
    border: 2px outset gray;
    border-radius: 7px;
    background: transparent;
    color: white;
    cursor: pointer;
}

.analyserCards button:hover {
    border: 2px outset rgb(108, 108, 108);
}

.analyserCards button.selectedCard:hover {
    border: 3px outset rgb(54, 139, 54);
}

.analyserDescription {

    display: flex;
    justify-content: center;
    text-align: center;

    font-size: small;
    height: 90px;
}
