
.analyserSelection {
    font-size: small;
    min-width: 300px;
    height: 270px;
}

.analyserSelection.setup {
    padding-top: 20px;
    width: 100%;   
}

.analyserCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 100px;
    overflow-y: auto;
    scrollbar-color: #434343 transparent;
    scrollbar-width: thin;
    
}


.analyserCards.setup {
    height: 140px;
    margin-top: 10px;
}


.analyserCards button.selectedCard  {
    border: 2px outset #30AE30;
}

.analyserCards button {
    width: 140px;
    height: 35px;
    border: 2px outset #434343;
    border-radius: 7px;
    background: transparent;
    color: white;
    cursor: pointer;
}

.analyserCards button:hover {
    filter: brightness(0.8);
}

.analyserCards button:active {
    border-style: inset;
}

.analyserCards button.selectedCard:hover {
    border: 2px outset #30AE30;
}

.analyserCards button.selectedCard:active {
    
    border-style: inset;
}

.analyserDescription {

    display: flex;
    justify-content: center;
    text-align: center;

    font-size: small;
    height: 90px;
}
