@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
.header {
    display: flex;
    /* padding: 0.5rem; */
    justify-content: space-between;
    
    border-bottom: 2px solid #1d1d1d;
   /* background: linear-gradient(170deg, #87868c 0%, #2e2e32 100%); titanium finish */
   /* background: linear-gradient(45deg, #525252 0%, #121212 100%); forged iron*/
    background: linear-gradient(181deg, #434343 0%, #080808 100%); 
    /* background-color: #080808; */
}


.logo {
    padding: 0.5rem;
     font-family: "Goldman", sans-serif;
     letter-spacing: 0.5px;
}
.logo *{
    margin: 0;
    padding: 0;
    color: #c9c9c9;
    font-size: medium;
}

.nav {
    display: flex;
}

.nav button {
    width: 130px;
    margin: 0;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    background: linear-gradient(179deg, #434343 0%, #080808 100%);
    /* background-color: #080808; */
    border: none;
}

.nav button:hover {
    background: linear-gradient(179deg, #2c2c2c 0%, #080808 100%);

}

.nav button p {
    color: #9f9f9f;
    font-weight: 700;

}




.controls {
 width: 270px;
 display: flex;
 align-self: center;
}

.controls span {
    
    text-align: end;
    align-self:flex-end;
    margin-right: 20px;   
    width: 160px;
    padding-bottom: 5px;
}

.statusLaunching {
    margin-right: 30px;
    color: #2E7088;
}

.statusListening {
    margin-right: 30px;
    color: #30AE30;
}

.statusStopping {
    margin-right: 30px;
    color: #C70000;
}

.startButton {
    color: white;
    background-color: #2e872d;
    margin-right: 15px;
    margin-left: auto;
    border: 2px outset #30AE30;
    border-radius: 5px;
    height: 30px;
    width:  70px;
    cursor: pointer;
    font-size: medium;

}

.stopButton {
    color: white;
    margin-right: 15px;
    margin-left: auto;
    background-color: #940000;
    border: 2px outset #C70000;
    border-radius: 5px;
    height: 30px;
    width:  70px;
    cursor: pointer;
    font-size: medium;

}

.startButton:hover {
    filter: brightness(0.8);    
}
.stopButton:hover {
    filter: brightness(0.8);
}


.startButton:active {
    border-style: inset;
}
.stopButton:active {
    border-style: inset;   
}

.stopDisabled {
    opacity: 0.4;
    cursor: not-allowed;
}
