.outputPanel {
    border-left: 2px solid #434343;
    width: 25vw;
    overflow-y: auto;
    height: 100%;
    background: linear-gradient(250deg, #434343 0%, #000000 100%);
    font-size: small;
}

.outputPanel div {
    font-size:inherit;
}

.outputPanel::-webkit-scrollbar {
    width: 8px;
}

.outputPanel::-webkit-scrollbar-track {
    background: transparent;
}

.outputPanel::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 8px;
}

.outputPanel::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.instrument {
    gap: 10px;
    border-bottom: 1px solid gray;
    padding: 10px;
}
.instrumentName {
    font-size: larger;
    
}
.analyserList {
    font-size: medium;
    padding-top: 10px;
}

.analyserRow {
    display: flex;
    gap: 10px;
}
