.sidebar {
    border-right: 1px solid #333;
    width: 300px;
    overflow-y: auto;
    height: 100%;
}

.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-track {
    background: transparent;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 8px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #666;
}