.sidebar {
    border-right: 2px solid #434343;
    width: 25vw;
    height: 100%;
    background: linear-gradient(190deg, #434343 0%, #000000 100%);
}



.sidebarTitle{
    font-size: 16px;
    font-weight: bold;
    margin-left: 20px;
    text-align: center;
}

.instrumentList {
    display: flex;
    flex-direction: column;
    height: 85%;
  
    overflow-y: auto;
    scrollbar-color: rgb(115, 115, 115) transparent;
    scrollbar-width: thin;
}

.instrumentcard {
    background: linear-gradient(180deg, #434343 0%, #00000094 100%);
    border-top: 2px solid rgb(38, 38, 38);
    /* border-bottom: 2px solid rgb(60, 60, 60); */
    color: #fff;
    padding: 10px;
}

.selectedInstrument{
    background-color: #2d2d2d;
}
.instrumentcard p {
    margin: 2px;
    font-style: bold;
    
}

.instrumentcard h3 {
    margin: 0;

    
}
.instrumentcard:hover {
    cursor: pointer;
    background-color: #2d2d2d;
}
.addInstrument {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;

}

.addInstrumentButton {
    height: 35px;
    width: 150px;
    border-radius: 5px;
    cursor: pointer;
}

/* Mix */

.mixSection {

}

.mixCard {
    
}

/* Device not found */

.disconnectedInstrument {
    opacity: 0.5;
}

.deviceNotFound {
    color: rgb(200, 80, 80);
    font-size: small;
    margin: 0;
}

