.tabcontent {
   width: 80vw;
   padding: 2%;
}

.setupWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.veil {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  z-index: 50;
  pointer-events: all;
}