.overlay {
    position: fixed;
    inset: 0;
    background: rgba(21, 21, 21, 0.429);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal {
    background: linear-gradient(200deg, #434343 0%, #000000 100%);
    border: 2px outset #434343;
    border-radius: 15px;
    padding: 0;
    width: 500px;
    height: 500px;
    position: relative;
    flex-direction: column;
}


/* Header */
.modalHeader{
    border-bottom: 3px solid #080808;
    margin:0;
    padding: 10px 10px 10px 20px;
}



.closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
    border: 2px outset #C70000;
    background-color: #940000;
    color: white;
}

.closeButton:hover{ 
    filter: brightness(0.8);
}
.closeButton:active{
    border-style: inset;
}

/* Step indicator */

.stepIndicator {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 2px solid #434343;
}

.stepDot{
    width:  25px;
    height: 25px;
    border: 2px inset #434343;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stepDot.active{
    border: 2px outset #30AE30;
    border-radius: 20px;
}

.stepDot.done{
    background-color: #2e872d;
    border: 2px outset #30AE30;
    border-radius: 20px;
}




/* STEPS */

.stepContent{
    padding: 20px;
    height: 240px; 
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* Navigation */

.navigation {
    border-top: 3px solid #080808;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    align-items: center;
}

.navText {
    padding: 0;
    margin: 0;
    font-size: small;
}

.backButton {
    width: 100px;
    height: 40px;
    cursor: pointer;
    background: transparent;
    border-radius: 5px;
    color: white;
}

.backButton:hover{ 
    filter: brightness(0.8);
}
.backButton:active{
    border-style: inset;
}


.nextButton {
    
    width: 100px;
    height: 40px;
    cursor: pointer;
    
    background: transparent;
    border-radius: 5px;
    color: white;
}

.nextButton:hover{ 
    filter: brightness(0.8);
}
.nextButton:active{
    border-style: inset;
}