.overlay {
    position: fixed;
    inset: 0;
    background: rgba(21, 21, 21, 0.429);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.modal {
    background: rgb(33, 33, 33);
    border: 2px outset rgb(18, 18, 18);
    border-radius: 15px;
    padding: 0;
    width: 500px;
    height: 500px;
    position: relative;
    flex-direction: column;
}


/* Header */
.modalHeader{
    border-bottom: 3px solid rgb(18, 18, 18);
    margin:0;
    padding: 10px 10px 10px 20px;
}



.closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    cursor: pointer;
}

/* Step indicator */

.stepIndicator {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    border-bottom: 2px solid rgb(48, 47, 47);
}

.stepDot{
    width:  25px;
    height: 25px;
    border: 2px outset rgb(157, 157, 157);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stepDot.active{
    border: 2px outset rgb(111, 204, 111);
    border-radius: 20px;
}

.stepDot.done{
    background-color: green;
    border: 2px outset rgb(111, 204, 111);
    border-radius: 20px;
}




/* STEPS */

.stepContent{
    padding: 20px;
    height: 240px; 
    
    display: flex;
    flex-direction: column;

}

/* step 1 */




/* step 2 */


/* Step 3 */



/* border: 3px outset rgb(58, 151, 58); */


/* Step 3 */



/* step 4 */

.testControls {
    display: flex;
    justify-content: space-between;
}


.testResult {
   
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-radius: 15px;
    border: 1px solid gray;
}

.levelBar {
    
    border-radius: 15px;
    width: 300px;
    height: 15px;
}

.levelBarActive {
    background-color: green;
}

.testMetrics {

}

.finalConfigSection {
    /* border: 1px solid red; */
     display: flex;
     flex-direction: column;
  
    overflow-y: scroll;
    scrollbar-color: rgb(93, 92, 92) transparent;
}


.finalConfig {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-between;
    border: 2px outset grey;
    border-radius: 15px;
    padding: 10px;
}


.finalConfig p {
    margin: 0;
    padding: 3px;
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(111, 204, 111);
    border-radius: 15px;
}


/* Navigation */

.navigation {
    border-top: 3px solid rgb(18, 18, 18);
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    align-items: center;
}

.navText {
    padding: 0;
    margin: 0;
    font-size: small;
}

.backButton {
    width: 100px;
    height: 40px;
    cursor: pointer;

}

.nextBtn {
    
    width: 100px;
    height: 40px;
    cursor: pointer;
    

}