
.testDevice {
    margin-left: 20px;
}

.testBtn {
    border: 2px outset green;
    border-radius: 5px;
    
    background-color: transparent;
    color: white;
    height: 30px;
    width: 70px;
}

.testBtnActive {
    border: 2px outset red;
}


.testControls {
    display: flex;
    justify-content: space-between;
    
}

.testDeviceTitle{
    width: 300px;
}

.testResult {
   
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 1px solid gray;
}

.levelBar {
    
    border-radius: 15px;
    width: 300px;
    height: 15px;
}

.levelBarActive {
    background-color: green;
}

.noSignalWarning
    {
        color: orange;
}
